* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 150%;
  font-family: "Rubik";
  background-color: #1a1a1a;
}



.container {
  width: 100%;
  height: 100%;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

nav {
  width: 30%;
  margin: 2em auto 0 auto;
  padding: 2em 0.25em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-items {
  display: flex;
  gap: 2em;
}

nav a {
  text-decoration: none;
  color: #fff;
}

.card {
  position: relative;
  width: 460px;
  height: 400px;
  margin: 2em auto;
  padding: 2em;
  border-radius: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  background-color: #272727;
  overflow: hidden;
}

.card-title {
  color: #fff;
  padding-bottom: 1em;
}

.row {
  width: 100%;
  display: flex;
  gap: 0.5em;
}

.pad {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 0.5rem;
  background-color: #333333;
  z-index: 0;
  pointer-events: none;
}

.pad.active {
  pointer-events: all;
  cursor: pointer;
}

.card .row:nth-child(3) .pad:nth-child(1),
.card .row:nth-child(3) .pad:nth-child(2),
.card .row:nth-child(3) .pad:nth-child(3) {
  opacity: 0.35;
}

.card-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 2em;
  color: #fff;
  overflow-y: auto;
  pointer-events: none;
  z-index: 2;
  opacity: 0;
}

button {
  border: none;
  outline: none;
  border-radius: 4em;
  font-family: "Rubik";
  padding: 0.5em 1em;
  background-color: #fff;
  cursor: pointer;
}

.img {
  width: 100%;
  height: 200px;
  margin: 1em 0;
  border-radius: 1em;
  overflow: hidden;
}

.copy {
  margin: 0.5em 0;
  padding: 1.5em;
  border-radius: 1em;
  background: #fff;
  color: #000;
}

.copy h1 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 0.35em;
}

.copy p {
  font-size: 14px;
  line-height: 150%;
  color: gray;
}

.copy.link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1em 0;
}

.card-item {
  position: relative;
}

@media (max-width: 900px) {
  nav {
    width: 100%;
    padding: 2em;
  }
  .card {
    width: 360px;
    height: 320px;
    gap: 0.25em;
  }

  .row {
    gap: 0.25em;
  }

  .pad {
    width: 40px;
    height: 40px;
  }
}

/* logos */
.logo,
.menu-logo {
position: absolute;
top: 2em;
left: 2em;
}

.logo a,
.menu-logo a {
text-decoration: none;
text-transform: uppercase;
color: #fff;
font-family: "Schabo";
font-size: 33px;
font-weight: lighter;
}

.menu-logo a {
color: #fff;
}

/* menu toggle btn */
.menu-toggle {
position: fixed;
top: 2em;
right: 2em;
width: 120px;
height: 60px;
background-color: #0f0f0f;
border-radius: 8em;
transition: width 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
transform-origin: right;
cursor: pointer;
z-index: 9999;
}

.menu-toggle.opened {
width: 60px;
}

.menu-copy {
position: absolute;
top: 50%;
left: 30px;
transform: translateY(-50%);
color: #fff;
transition: left 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.menu-copy p {
text-transform: uppercase;
font-weight: 500;
font-size: 12px;
margin: 0;
padding: 0;
}

.menu-toggle:hover .menu-copy {
left: 20px;
}

.menu-toggle.opened .menu-copy {
opacity: 0;

}

.menu-toggle-icon {
position: absolute;
right: 0;
width: 60px;
height: 60px;
border-radius: 100%;
clip-path: circle(10% at 50% 50%);
background-color: white;
transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
overflow: hidden;
}

.menu-toggle:hover .menu-toggle-icon {
clip-path: circle(35% at 50% 50%);
}

.menu-toggle.opened .menu-toggle-icon {
clip-path: circle(50% at 50% 50%);
transform: scale(1.125);
}

.hamburger {
position: absolute;
top: 60%;
left: 50%;
transform: translate(-50%, -50%);
width: 30px;
height: 30px;
display: flex;
justify-content: center;
align-items: center;
transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
opacity: 0;
}

.menu-toggle:hover .hamburger,
.menu-toggle.opened .hamburger {
top: 50%;
opacity: 1;
}

.menu-bar {
position: absolute;
width: 15px;
height: 1.5px;
background: #000;
transition-property: transform;
transition: all 250ms ease-out;
}

.menu-bar[data-position="top"] {
transform: translateY(-3px);
}

.menu-bar[data-position="bottom"] {
transform: translateY(3px);
}

.menu-toggle.opened .menu-bar[data-position="top"] {
transform: translateY(0) rotate(45deg) scaleX(1.05);
}

.menu-toggle.opened .menu-bar[data-position="bottom"] {
transform: translateY(0) rotate(-45deg) scaleX(1.05);
}

/* menu */
.menu {
position: fixed;
top: 0;
left: 0;
width: 100vw;
height: 100vh;
display: flex;
background-color: #0f0f0f;
clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
pointer-events: none;
transform-style: preserve-3d;
perspective: 1000px;
z-index: 22;
}

.col-1 {
flex: 1;
}

.col-2 {
flex: 2;
}

.col {
position: relative;
height: 100%;
padding: 10em 2em 2em 2em;
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: flex-end;
}

.link {
position: relative;
transform: translateY(30px);
opacity: 0;
}

.link a {
text-decoration: underline;
color: rgb(14, 123, 233)4, 6);
font-size: 15px;
font-weight: 300;
letter-spacing: -1.5px;
line-height: 125%;
}

.video-wrapper {
width: 100%;
aspect-ratio: 16/9;
background-color: #1d1d1d;
clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
overflow: hidden;
padding: 2em;
}

.video-wrapper video {
width: 100%;
height: 100%;
object-fit: cover;
}

.socials {
width: 50%;
display: flex;
gap: 2em;
}

.socials .sub-col {
flex: 1;
}

.socials .sub-col p {
position: relative;
color: #fff;
transform: translateY(30px);
opacity: 0;
text-transform: uppercase;
font-family: "Akkurat Mono";
font-size: 12px;
font-weight: 400;
}

.header h1 {
color: #fff;
text-transform: uppercase;
font-family: "Schabo";
font-size: 500px;
font-weight: lighter;
line-height: 100%;
height: 400px;
}

.header h1 span {
position: relative;
display: inline-block;
transform: scale(0.75) translateY(500px) rotateY(90deg);
transform-origin: bottom;
}

@media (max-width: 900px) {
.col-1 {
flex: 2;
align-items: flex-start;
}

.link a {
font-size: 30px;
}

.video-wrapper {
padding: 0.4em;
}

.socials {
width: 100%;
flex-direction: column;
gap: 8em;
}

.header h1 {
font-size: 150px;
height: 120px;
}
}
