@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;800&display=swap');

* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

html,
body {
width: 100%;
height: 1200vh;
font-family: "Poppins";
overflow-x: hidden;
}

section {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: #e1dedc;
    padding: 2em;
}

.letter img {
/* full-width: 140%; */
justify-content: center;
align-items: center;
width: 120px;
height: 200px;
object-fit: cover;
}

.header {
top: 0;
position: fixed;
margin-top: 3em;
padding: 7em;
width: 80%;
display: flex;
color: azure;
z-index: 1;
}

/* .header::before {
content: "";
position: absolute;
width: 100%;
top: 100%;
left: 0;
background:#0f0f0f;
z-index: 1;
} */

/* .website-content {
width: 100%;
top: 80;
z-index: 2;
} */

/* .website-content-wrapper {
width: 70%;
margin: 0 auto;
} */

nav {
position: absolute;
top: 0;
left: 0;
width: 100vw;
padding: 2em;
display: flex;
justify-content: space-between;
align-items: center;
}

nav p {
text-transform: uppercase;
font-size: 12px;
padding: 2px 8px;
border-radius: 20px;
background-color: #0f0f0f;
color: #ebeae4;
}

.sticky {
background: transparent;
/* background-image: url(./assets/background/design2.png); */
object-fit: contain;
}

.sticky p {
color: #0f0f0f;
}

.char {
transition-duration: 0.3ms;
/* display: inline-block; */
position: fixed;
pointer-events: none;
opacity: 0;
}

.lenis.lenis-smooth [data-lenis-prevent] {
overscroll-behavior:inherit;
}

.lenis.lenis-stopped {
overflow: clip;
}

.lenis.lenis-smooth iframe {
pointer-events: none;
}

img {
width: 100%;
height: 100%;
object-fit: cover;
}

.img {
flex: 1;
overflow: hidden;
background-color: #000000;
}

.img.main img {
position: relative;
transform: scale(2);
will-change: transform;
}

h1 {
font-family: "PP Acma";
font-size: 12vw;
font-weight: 400;
line-height: 1;
letter-spacing: -0.025em;
}

p {
font-size: 17px;
font-weight: 500;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}

.sticky2 {
position: fixed;
top: 0;
left: 0;
width: 100vw;
height: 100vh;
padding: 0;
background-color: #000;
overflow: hidden;
}

.gallery-wrapper {
position: fixed;
top: 50%;
left: 50%;
transform: translate(-50%, -50%) scale(1);
width: 160vw;
height: 100vh;
display: flex;
gap: 4em;
box-shadow: #e1dedc;
}

.col {
position: relative;
flex: 1;
height: 100%;
display: flex;
flex-direction: column;
gap: 4em;
will-change: transform;
box-shadow: #000000;
}

.container {
width: 100%;
height: 100%;
}

.hero {
display: flex;
justify-content: flex-end;
align-items: flex-end;
}

.hero-img {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}

.intro {
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
text-align: center;
padding: 4em 0;
background-color: #e1dedc;
color: #05364c;
}

.divider {
width: 1.5px;
height: 30%;
background-color: #05364c;
}

section.ws {
width: 100vw;
height: 600vh;
background-color: transparent;
}

.outro {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
background-color: #e1dedc;
color: #05364c;
}

/* logos */
.logo,
.menu-logo {
position: absolute;
top: 2em;
left: 2em;
}

.logo a,
.menu-logo a {
text-decoration: none;
text-transform: uppercase;
color: #fff;
font-family: "Schabo";
font-size: px;
font-weight: lighter;
}

.menu-logo a {
color: #fff;
}

/* menu toggle btn */
.menu-toggle {
position: fixed;
top: 2em;
right: 2em;
width: 120px;
height: 60px;
background-color: #0f0f0f;
border-radius: 8em;
transition: width 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
transform-origin: right;
cursor: pointer;
z-index: 999999999;
}

.menu-toggle.opened {
width: 60px;
}

.menu--hidden {
    transform: translateY(-99px);
}

.menu-copy {
position: absolute;
top: 50%;
left: 30px;
transform: translateY(-50%);
color: #fff;
transition: left 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
z-index: 9999999999999;
}

.menu-copy p {
text-transform: uppercase;
font-weight: 500;
font-size: 12px;
margin: 0;
padding: 0;
}

.menu-toggle:hover .menu-copy {
left: 20px;
}

.menu-toggle.opened .menu-copy {
opacity: 0;
}

.menu-toggle-icon {
position: absolute;
right: 0;
width: 60px;
height: 60px;
border-radius: 100%;
clip-path: circle(10% at 50% 50%);
background-color: #fff;
transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
z-index: 9999999999;
overflow: hidden;
}

.menu-toggle:hover .menu-toggle-icon {
clip-path: circle(35% at 50% 50%);
}

.menu-toggle.opened .menu-toggle-icon {
clip-path: circle(50% at 50% 50%);
transform: scale(1.125);
}

.hamburger {
position: absolute;
top: 60%;
left: 50%;
transform: translate(-50%, -50%);
width: 30px;
height: 30px;
display: flex;
justify-content: center;
align-items: center;
transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
opacity: 0;
z-index: 9999999;
}

.menu-toggle:hover .hamburger,
.menu-toggle.opened .hamburger {
top: 50%;
opacity: 1;
}

.menu-bar {
position: absolute;
width: 15px;
height: 1.5px;
background: #000;
transition-property: transform;
transition: all 250ms ease-out;
}

.menu-bar[data-position="top"] {
transform: translateY(-3px);
}

.menu-bar[data-position="bottom"] {
transform: translateY(3px);
}

.menu-toggle.opened .menu-bar[data-position="top"] {
transform: translateY(0) rotate(45deg) scaleX(1.05);
}

.menu-toggle.opened .menu-bar[data-position="bottom"] {
transform: translateY(0) rotate(-45deg) scaleX(1.05);
}

/* menu */
.menu {
position: fixed;
top: 0;
left: 0;
width: 100vw;
height: 100vh;
display: flex;
background-color: #0f0f0f;
clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
pointer-events: none;
transform-style: preserve-3d;
perspective: 1000px;
z-index: 9999999;
}

.ccol-1 {
flex: 1;
}

.ccol-2 {
flex: 2;
}

.ccol {
position: relative;
height: 100%;
padding: 10em 2em 2em 2em;
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: flex-end;
}

.link {
position: relative;
transform: translateY(30px);
opacity: 0;
}

.link a {
text-decoration: none;
color: #fff;
font-size: 48px;
font-weight: 300;
letter-spacing: -1.5px;
line-height: 125%;
}

.video-wrapper {
width: 100%;
aspect-ratio: 16/9;
background-color: #1d1d1d;
clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
overflow: hidden;
padding: 2em;
}

.video-wrapper video {
width: 100%;
height: 100%;
object-fit: cover;
}

.socials {
width: 50%;
display: flex;
gap: 2em;
}

.socials .sub-ccol {
flex: 1;
}

.socials .sub-ccol p {
position: relative;
color: #fff;
transform: translateY(30px);
opacity: 0;
text-transform: uppercase;
font-family: "Akkurat Mono";
font-size: 12px;
font-weight: 400;
}

.header h1 {
color: #fff;
text-transform: uppercase;
font-family: "Schabo";
font-size: 500px;
font-weight: lighter;
line-height: 100%;
height: 400px;
}

.header h1 span {
position: relative;
display: inline-block;
transform: scale(0.75) translateY(500px) rotateY(90deg);
transform-origin: bottom;
}

/* styling the scroll down effect */
.scroll-down {
    height: 5rem;
    width: 2rem;
    position: absolute;
    right: 2%;
    bottom: 5%;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

/* add the arrows inside the scroll button */
.scroll-down::before,
.scroll-down::after {
    content: "";
    position: absolute;
    top: 20%;
    left: 50%;
    height: 10px;
    width: 10px;
    transform: translate(-50%, -100%) rotate(45deg);
    border: 2px solid lightgray;
    border-top: transparent;
    border-left: transparent;
    /* animate the arrows */
    animation: scroll-down 3s ease-in-out infinite;
}

/* make the arrow stuck on top of each other */
.scroll-down::before {
    top: 30%;
    animation-delay: 0.8s;
}

/* keyframe for the scroll down animation */ 
@keyframes scroll-down {
    0% {
        opacity: 0;
    }
    30%, 60% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        top: 90%;
    }

}

@media (max-width: 900px) {
.ccol-1 {
    flex: 2;
    align-items: flex-start;
}

.link a {
    font-size: 30px;
}

.video-wrapper {
    padding: 0.4em;
}

.socials {
    width: 100%;
    flex-direction: column;
    gap: 8em;
}

.header h1 {
    font-size: 150px;
    height: 120px;
}
}

@media screen and (max-width: 2250px) and (min-width: 1950px) {

    .letter img {
        /* full-width: 140%; */
        justify-content: center;
        align-items: center;
        width: 180px;
        height: 200px;
        object-fit: cover;
    }

    .header {
    top: 0;
    position: fixed;
    margin-top: 3em;
    padding: 7em;
    width: 100%;
    display: flex;
    color: azure;
    z-index: 1;
    }

    img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    }

    .sticky2 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 0;
    background-color: #000;
    overflow: hidden;
    }

    .char {
    transition-duration: 0.3ms;
    /* display: inline-block; */
    position: absolute;
    pointer-events: none;
    opacity: 0;
    }

    .img.main img {
        position: relative;
        transform: scale(2);
        max-width: 90%;
        max-height: 60%;
        top: calc(50% - 55px);
        will-change: transform;
        justify-content: center;
        object-fit: cover;
    }

    .col {
        position: relative;
        flex: 1;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 3em;
        will-change: transform;
        box-shadow: #000000;
    }

}

@media screen and (max-width: 1950px) and (min-width: 1600px) {
    .letter img {
        /* full-width: 140%; */
        justify-content: center;
        align-items: center;
        width: 140px;
        height: 200px;
        object-fit: cover;
    }
    
    .gallery-wrapper {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-40%, -50%) scale(1);
        width: 180vw;
        height: 90vh;
        display: flex;
        gap: 9em;
        box-shadow: #e1dedc;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .col {
        position: relative;
        flex: 1;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 3em;
        will-change: transform;
        box-shadow: #000000;
    }
    
    .img.main img {
        position: relative;
        transform: scale(2);
        max-width: 120%;
        max-height: 70%;
        top: calc(55% - 90px);
        will-change: transform;
        justify-content: center;
        object-fit: cover;
    }
}

@media screen and (max-width: 1599px) {

    .letter img {
        /* full-width: 140%; */
        justify-content: center;
        align-items: center;
        width: 120px;
        height: 200px;
        object-fit: cover;
    }
    
    .gallery-wrapper {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(1);
        width: 160vw;
        height: 100vh;
        display: flex;
        gap: 4em;
        box-shadow: #e1dedc;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .col {
        position: relative;
        flex: 1;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 4em;
        will-change: transform;
        box-shadow: #000000;
    }
    
    .img.main img {
        position: relative;
        transform: scale(2);
        will-change: transform;
    }

}

@media screen and (max-width: 1400px) {

    .letter img {
        /* full-width: 140%; */
        justify-content: center;
        align-items: center;
        width: 110px;
        height: 200px;
        object-fit: cover;
    }
    
    .gallery-wrapper {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-40%, -50%) scale(1);
        width: 220vw;
        height: 90vh;
        display: flex;
        gap: 9em;
        box-shadow: #e1dedc;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .col {
        position: relative;
        flex: 1;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 3em;
        will-change: transform;
        box-shadow: #000000;
    }
    
    .img.main img {
        position: relative;
        transform: scale(2);
        max-width: 100%;
        max-height: 90%;
        top: calc(75% - 160px);
        will-change: transform;
        justify-content: center;
        object-fit: cover;
    }

}

@media screen and (max-width: 1000px) {

    .letter img {
        /* full-width: 140%; */
        justify-content: center;
        align-items: center;
        width: 70px;
        height: 200px;
        object-fit: cover;
    }
    
    .gallery-wrapper {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-40%, -50%) scale(1);
        width: 220vw;
        height: 90vh;
        display: flex;
        gap: 9em;
        box-shadow: #e1dedc;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .col {
        position: relative;
        flex: 1;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 3em;
        will-change: transform;
        box-shadow: #000000;
    }
    
    .img.main img {
        position: relative;
        transform: scale(2);
        max-width: 100%;
        max-height: 90%;
        top: calc(75% - 160px);
        will-change: transform;
        justify-content: center;
        object-fit: cover;
    }

}

@media screen and (max-width: 1200px) {

    .letter img {
        /* full-width: 140%; */
        justify-content: center;
        align-items: center;
        width: 90px;
        height: 200px;
        object-fit: cover;
    }
    
    .gallery-wrapper {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-40%, -50%) scale(1);
        width: 220vw;
        height: 90vh;
        display: flex;
        gap: 9em;
        box-shadow: #e1dedc;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .col {
        position: relative;
        flex: 1;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 3em;
        will-change: transform;
        box-shadow: #000000;
    }
    
    .img.main img {
        position: relative;
        transform: scale(2);
        max-width: 100%;
        max-height: 90%;
        top: calc(75% - 160px);
        will-change: transform;
        justify-content: center;
        object-fit: cover;
    }

}

@media screen and (max-width: 700px) {

    .letter img {
        /* full-width: 140%; */
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        object-fit: cover;
    }
    
    .gallery-wrapper {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-40%, -50%) scale(1);
        width: 220vw;
        height: 88vh;
        display: flex;
        gap: 5em;
        box-shadow: #e1dedc;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .col {
        position: relative;
        flex: 1;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 2em;
        will-change: transform;
        box-shadow: #000000;
    }
    
    .img.main img {
        position: relative;
        transform: scale(2);
        max-width: 100%;
        max-height: 90%;
        top: calc(75% - 90px);
        will-change: transform;
        justify-content: center;
        object-fit: cover;
    }

}
@media screen and (max-width: 500px) {
    .letter img {
        /* full-width: 140%; */
        justify-content: center;
        align-items: center;
        width: 20px;
        height: 30px;
        object-fit: cover;
    }
    
    .gallery-wrapper {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-40%, -50%) scale(1);
        width: 300vw;
        height: 88vh;
        display: flex;
        gap: 5em;
        box-shadow: #e1dedc;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .col {
        position: relative;
        flex: 1;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 2em;
        will-change: transform;
        box-shadow: #000000;
    }
    
    .img.main img {
        position: relative;
        transform: scale(2);
        max-width: 100%;
        max-height: 90%;
        top: calc(75% - 90px);
        will-change: transform;
        justify-content: center;
        object-fit: cover;
    }
}


@media screen and (max-width: 400px) {
    .letter img {
        /* full-width: 140%; */
        justify-content: center;
        align-items: center;
        width: 10px;
        height: 30px;
        object-fit: cover;
    }
    
    .gallery-wrapper {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-40%, -50%) scale(1);
        width: 300vw;
        height: 88vh;
        display: flex;
        gap: 5em;
        box-shadow: #e1dedc;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .col {
        position: relative;
        flex: 1;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 4em;
        will-change: transform;
        box-shadow: #000000;
    }
    
    .img.main img {
        position: relative;
        transform: scale(2);
        max-width: 100%;
        max-height: 90%;
        top: calc(75% - 70px);
        will-change: transform;
        justify-content: center;
        object-fit: cover;
    }
}


