/* using a gradient background */
body{
    background: rgb(29,40,41);
    background: -moz-linear-gradient(90deg, rgba(29,40,41,1) 0%, rgba(24,30,31,1) 11%, rgba(19,19,20,1) 41%, rgba(19,19,20,1) 58%, rgba(24,30,31,1) 85%, rgba(29,40,41,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(29,40,41,1) 0%, rgba(24,30,31,1) 11%, rgba(19,19,20,1) 41%, rgba(19,19,20,1) 58%, rgba(24,30,31,1) 85%, rgba(29,40,41,1) 100%);
    background: linear-gradient(90deg, rgba(29,40,41,1) 0%, rgba(24,30,31,1) 11%, rgba(19,19,20,1) 41%, rgba(19,19,20,1) 58%, rgba(24,30,31,1) 85%, rgba(29,40,41,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1d2829",endColorstr="#1d2829",GradientType=1);
    color: white;
    padding: 3rem;
    }
/* reset the default style from the browser */ 
* {
    margin: 0;
    padding: 0;
    /* here we prevent any layout issues */
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

/* we then style the header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 2rem;
}

/* styling the logo */
.logo {
    font-size: 1.5rem;
    font-weight: 300;
    letter-spacing: 2px;
}

/*we style the contact button */
.contact-btn {
    padding: 0.5rem 2rem;
    font-size: 1rem;
    background-color: rgba(143, 143, 143, 0.2);
    border: 1px solid rgba(102, 102, 102, 0.5);
    border-radius: 50px;
    cursor: pointer;
    color: white;
    transition: 0.3s;
}

/* here's the hover effect */
.contact-btn:hover {
    background-color: #76b0ab37;
}

/* Main section */
main {
    overflow: hidden;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    min-height: 85vh;
}

/* title section */
.title-section {
    margin-top: 3rem;
}

/* style the h1 or main section */
main h1 {
    text-align: center;
    font-size: 8rem;
    font-weight: 900;
    letter-spacing: 5px;
    line-height: 1;
    background-image: linear-gradient(rgb(133,133,133), rgb(255,255,255));
    color: transparent;
    background-clip: text;
    display: none;
}

/* style the h2 or main section */
main h2 {
    text-align: center;
    font-size: 12rem;
    font-weight: 900;
    letter-spacing: 5px;
    line-height: 1;
    background-image: linear-gradient(rgb(133,133,133), rgb(255,255,255));
    color: transparent;
    background-clip: text;
}

/*location section*/
.location {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/*gradient design*/
.location p {
    background-image: linear-gradient(to right, #76b0ab, #ffffff, #842626);
    color: transparent;
    background-clip: text;
    font-size: 1.5rem;
}

/* styling the bio section */
.bio-section {
    margin-top: auto;
    margin-bottom: 2rem;
}

/* styling the bio section */ 
.bio {
    font-size: 1rem;
    line-height: 1.6;
    font-weight: 300;
    letter-spacing: 1px;
    max-width: 22rem;
}

/* styling the scroll down effect */
.scroll-down {
    height: 5rem;
    width: 2rem;
    position: absolute;
    right: 2%;
    bottom: 5%;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

/* add the arrows inside the scroll button */
.scroll-down::before,
.scroll-down::after {
    content: "";
    position: absolute;
    top: 20%;
    left: 50%;
    height: 10px;
    width: 10px;
    transform: translate(-50%, -100%) rotate(45deg);
    border: 2px solid lightgray;
    border-top: transparent;
    border-left: transparent;
    /* animate the arrows */
    animation: scroll-down 3s ease-in-out infinite;
}

/* make the arrow stuck on top of each other */
.scroll-down::before {
    top: 30%;
    animation-delay: 0.8s;
}

/* keyframe for the scroll down animation */ 
@keyframes scroll-down {
    0% {
        opacity: 0;
    }
    30%, 60% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        top: 90%;
    }

}

/* 3D Robot */
.robot-3d {
    position: sticky;
    top: -20%;
    right: -14%;
    width: 130%;
    height: 130%;
}

/* make the 3d element responsive for different screen sizes */
@media (max-width: 1400px) {
    main h1{
        font-size: 6.3rem;
        letter-spacing: 0;
    }
}

/* this media querry is for smaller screens */
@media (max-width: 768px) {
    main h1 {
        display: none;
    }

    main h2 {
        display: block;
        margin-top: -3rem;
    }

    .bio-section {
        margin-bottom: 1rem;
    }

    .bio {
        font-size: 0.8 rem;
        max-width: 15rem;
    }

    .location p {
        font-size: 1.2rem;
    }
}

/*normal phone size */
@media (max-width: 480px) {
    body {
        padding: 1rem;
    }

    main h2 {
        font-size: 6rem;
    }

    .logo {
        font-size: 1.2rem;
    }

    .contact-btn {
        padding: 0.4rem 1.5rem;
        font-size: 0.9rem;
    }
}



.background-spline {
    top: -20%;
    right: -14%;
    width: 130%;
    height: 130%;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
}

a:hover {
    color: orange;
}

.header {
    position: relative;
}
.navbar {
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}
